<template>
  <div>
    <v-img
      class="banner-image"
      src="https://demos.freehtml5.co/greatness/images/img_bg_1.jpg"
    />
    <div class="banner-content d-flex justify-center align-center flex-column">
      <span class="banner-title">
        GREATNESS FREE TEMPLATE
      </span>
      <span class="banner-subtitle">
        FREE HTML5 TEMPLATES MADE BY FREEHTML5.CO
      </span>
      <div class="banner-btns pt-5">
        <v-btn depressed color="#F85A16" class="banner-button">
          Get Started
        </v-btn>
        <v-btn
          depressed
          text
          outlined
          color="white"
          class="banner-button border"
        >
          Download
        </v-btn>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.banner-image {
  height: 900px;
  filter: brightness(0.5);
}
.banner-content {
  width: 100%;
  position: absolute;
  top: 17%;
}
.banner-title {
  text-align: center;
  font-size: 70px;
  color: white;
  font-family: 'Raleway', Arial, sans-serif;
}
.banner-subtitle {
  text-align: center;
  font-size: 20px;
  color: white;
  font-family: 'Raleway', Arial, sans-serif;
}
.banner-button {
  text-transform: none !important;
  font-size: 16px;
  width: 160px;
  height: 61px !important;
  color: #ffffffb3;
  font-family: 'Raleway', Arial, sans-serif;
}
.border {
  border: 2px solid white !important;
}
@media (max-width: 1250px) {
  .banner-content {
    top: 12%;
  }
  .banner-title {
    font-size: 50px;
  }
}
@media (max-width: 700px) {
  .banner-title {
    font-size: 40px;
  }
  .banner-subtitle {
    font-size: 16px;
  }
  .banner-button {
    width: 130px;
    height: 51px;
  }
}
</style>
