<template>
  <v-container class="gallery-wrapper d-flex align-center flex-column" fluid>
    <v-row class="pa-0 ma-0 gallery-header">
      <v-col cols="12" class="d-flex justify-center">
        <span class="gallery-title">
          Galeria
        </span>
      </v-col>
      <v-col cols="12" class="d-flex justify-center">
        <span class="gallery-description">
          Dignissimos asperiores vitae velit veniam totam fuga molestias
          accusamus alias autem provident. Odit ab aliquam dolor eius.
        </span>
      </v-col>
    </v-row>
    <v-row class="gallery-images">
      <v-col
        v-for="(img, index) in gallery"
        :key="index"
        cols="12"
        lg="4"
        md="6"
        sm="12"
        class="d-flex justify-center"
      >
        <v-card class="gallery-card">
          <v-img class="gallery-img" :src="img" />
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      gallery: [
        'https://demos.freehtml5.co/greatness/images/img_1.jpg',
        'https://demos.freehtml5.co/greatness/images/img_1.jpg',
        'https://demos.freehtml5.co/greatness/images/img_1.jpg',
      ],
    }
  },
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.gallery-wrapper {
  background-color: #efefef;
}
.gallery-header {
  padding: 60px 0 !important;
}
.gallery-title {
  font-size: 36px;
  margin-bottom: 10px;
  line-height: 1.5;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}
.gallery-description {
  max-width: 800px;
  font-size: 18px;
  line-height: 1.5;
  color: #828282;
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
}
.gallery-images {
  max-width: 1100px;
  width: 100%;
}
.gallery-card {
  width: 350px;
  height: 250px;
  border-radius: 3%;
}
.gallery-img {
  height: 100%;
  width: 100%;
}

@media (max-width: 420px) {
  .gallery-card {
    width: 300px;
    height: 200px;
  }
}
</style>
