<template>
  <v-container class="testimony-wrapper" fluid>
    <v-row class="pa-0 ma-0 testimony-header">
      <v-col cols="12" class="d-flex justify-center">
        <span class="testimony-title">
          Depoimentos
        </span>
      </v-col>
    </v-row>
    <v-carousel
      hide-delimiter-background
      delimiter-icon="mdi-checkbox-blank-circle-outline"
      cycle
      continuous
      :show-arrows="false"
      height="400"
      class="testimony-carousel"
    >
      <v-carousel-item v-for="(item, index) in items" :key="index">
        <div class="testimony-carousel-item d-flex align-center flex-column">
          <img class="testimony-image" :src="item.image" />
          <div class="testimony-apresetantion py-4">
            <span> {{ item.name }}, via </span>
            <span class="testymony-location"> {{ item.testimony }} </span>
          </div>
          <span class="testimony-text">
            {{ item.testimony }}
          </span>
        </div>
      </v-carousel-item>
    </v-carousel>
  </v-container>
</template>

<script>
export default {
  // props: {
  //   testimonies: {
  //     type: Array,
  //     required: true,
  //   },
  // },
  data() {
    return {
      items: [
        {
          image: 'https://demos.freehtml5.co/greatness/images/person_1.jpg',
          name: 'Jean Doe',
          location: 'Twitter',
          testimony:
            'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.',
        },
        {
          image: 'https://demos.freehtml5.co/greatness/images/person_1.jpg',
          name: 'Jean Doe',
          location: 'Twitter',
          testimony:
            'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.',
        },
        {
          image: 'https://demos.freehtml5.co/greatness/images/person_1.jpg',
          name: 'Jean Doe',
          location: 'Twitter',
          testimony:
            'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.',
        },
      ],
    }
  },
  created() {
    this.requisicao()
  },
  methods: {
    async requisicao() {
      const response = await this.$axios
        .get('https://run.mocky.io/v3/10b0379b-3c06-4637-91dc-d75bc6f63d2c')
        .then((response) => response.data)
      this.items = response
    },
  },
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.testimony-wrapper {
  background-color: #efefef;
}
.testimony-header {
  padding: 60px 0 !important;
}
.testimony-title {
  font-size: 36px;
  margin-bottom: 10px;
  line-height: 1.5;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}
.testimony-carousel >>> .v-btn--active {
  color: #f85a16;
}
.testimony-carousel-item {
  width: 100%;
  height: 100%;
}
.testimony-image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.testimony-apresetantion {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  color: #828282;
  font-family: 'Raleway', Arial, sans-serif;
}
.testymony-location {
  color: #f85a16 !important;
}
.testimony-text {
  text-align: center;
  font-size: 17.5px;
  font-family: 'Raleway', Arial, sans-serif;
  color: #828282;
  max-width: 800px;
}
</style>
