<template>
  <div class="container-logo">
    <v-responsive width="50">
      <img
        src="~/static/imagens/logo.png"
        alt="Logo da Ecomp"
        class="logo disable-select"
      />
    </v-responsive>
    <div class="display-2 pb-8 mt-8 font-weight-bold black--text">
      {{ titulo }}
    </div>
  </div>
</template>
<script>
export default {
  name: 'TitleAuth',
  props: {
    titulo: {
      type: String,
      required: true,
      default: '',
    },
  },
}
</script>
<style scoped>
.logo {
  width: 100%;
  height: 100%;
  max-width: 400px;
  background-color: rgb(255, 255, 255);
}
.container-logo {
  background-color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>
