<template>
  <div class="button-wrapper">
    <button class="button">
      <v-icon class="button-icon">
        mdi-arrow-up
      </v-icon>
    </button>
  </div>
</template>

<script>
export default {}
</script>

<style scoped>
.button-wrapper {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
.button {
  width: 50px;
  height: 50px;
  background-color: #7f7f7f;
  border-radius: 10%;
}
.button-icon {
  color: white !important;
}
</style>
