<template>
  <v-container fluid class="footer-wrapper px-0 pb-6">
    <v-row class="pr-0 pl-3 pl-lg-0 mb-6">
      <v-col
        v-for="(item, index) in footerItems"
        :key="index"
        cols="6"
        lg="2"
        md="4"
        sm="6"
        class="d-flex flex-column"
      >
        <a v-for="(link, subIndex) in item" :key="subIndex" href="/">
          {{ link }}
        </a>
      </v-col>
    </v-row>
    <v-row class="px-3 px-lg-0">
      <v-col
        cols="12"
        lg="6"
        md="6"
        sm="12"
        class="d-flex align-center align-md-start flex-column"
      >
        <span class="footer-text">
          © 2016 Free HTML5. All Rights Reserved.
        </span>
        <span class="footer-text">
          Designed by
          <a class="footer-special-link" href="/"> FreeHTML5.co </a> Demo
          Images: <a class="footer-special-link" href="/"> Unsplash</a>
        </span>
      </v-col>
      <v-col
        cols="12"
        lg="6"
        md="6"
        sm="12"
        class="d-flex justify-center justify-md-end"
      >
        <v-icon class="footer-icon mx-2"> mdi-twitter</v-icon>
        <v-icon class="footer-icon mx-2"> mdi-facebook</v-icon>
        <v-icon class="footer-icon mx-2"> mdi-linkedin</v-icon>
        <v-icon class="footer-icon mx-2"> mdi-basketball</v-icon>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      footerItems: [
        ['About', 'Help', 'Contact', 'Terms', 'Meetups'],
        [
          'Creative Design',
          'Branding',
          'Illustration',
          'SubsCribe',
          'Monthly Event',
        ],
        ['About', 'Help', 'Contact', 'Terms', 'Meetups'],
        ['Shop', 'Privacy', 'Testimonials', 'Handbook', 'Hand Desk'],
        ['Find Designers', 'Find Developers', 'Teams', 'Advertise', 'API'],
        ['About', 'Help', 'Contact', 'Terms', 'Meetups'],
      ],
    }
  },
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
a {
  max-width: 120px;
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-family: 'Raleway', Arial, sans-serif;
}
.footer-wrapper {
  max-width: 1100px;
  width: 100%;
}
.footer-text {
  font-size: 13px;
  font-family: 'Raleway', Arial, sans-serif;
  color: #828282;
}
.footer-special-link {
  font-size: 13px;
  font-family: 'Raleway', Arial, sans-serif;
  color: #f85a16 !important;
}
.footer-icon {
  color: #f85a16 !important;
}
</style>
