<template>
  <div class="d-flex justify-center navbar-wrapper">
    <div class="navbar-content d-flex justify-space-between align-center">
      <span class="navbar-title pl-2 pl-lg-0">GREATNESS.</span>
      <div class="hidden-md-and-down">
        <nuxt-link
          v-for="(item, index) in navbarItems"
          :key="index"
          :to="item.link"
          class="navbar-btn px-2"
        >
          <v-menu
            v-if="item.menu"
            open-on-hover
            offset-y
            bottom
            flat
            transition="scroll-y-reverse-transition"
          >
            <template v-slot:activator="{ on, attrs }">
              <span v-bind="attrs" v-on="on">{{ item.label }}</span>
            </template>
            <div class="d-flex flex-column pa-4 navbar-list">
              <span
                v-for="(option, subIndex) in item.items"
                :key="subIndex"
                class="pb-1 navbar-list-item"
              >
                {{ option }}
              </span>
            </div>
          </v-menu>
          <span v-else>{{ item.label }}</span>
        </nuxt-link>
      </div>
      <v-app-bar-nav-icon
        class="hidden-lg-and-up"
        color="white"
        @click="drawer = !drawer"
      />
    </div>
    <v-navigation-drawer
      v-model="drawer"
      absolute
      app
      right
      color="black"
      disable-resize-watcher
      disable-route-watcher
      class="navbar-drawer"
    >
      <div class="d-flex flex-column">
        <div class="d-flex justify-end pr-3 pt-4">
          <v-icon color="white" @click="drawer = !drawer">
            mdi-close
          </v-icon>
        </div>
        <nuxt-link
          v-for="(item, index) in navbarItems"
          :key="index"
          :to="item.link"
          class="navbar-btn px-2 pl-6 pb-1"
        >
          <v-expansion-panels
            v-if="item.menu"
            class="navbar-panel"
            accordion
            flat
            tile
          >
            <v-expansion-panel>
              <v-expansion-panel-header class="navbar-btn">
                {{ item.label }}
              </v-expansion-panel-header>
              <v-expansion-panel-content color="black">
                <div class="d-flex flex-column">
                  <span
                    v-for="(option, subIndex) in item.items"
                    :key="subIndex"
                    class="pb-1 navbar-panel-item"
                  >
                    {{ option }}
                  </span>
                </div>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
          <span v-else>{{ item.label }}</span>
        </nuxt-link>
      </div>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  data() {
    return {
      drawer: false,
      navbarItems: [
        { link: '/', label: 'home', menu: false },
        { link: '/', label: 'About', menu: false },
        {
          link: '/',
          label: 'Services',
          menu: true,
          items: ['Web Design', 'eCommerce', 'Branding', 'API'],
        },
        {
          link: '/',
          label: 'Dropdown',
          menu: true,
          items: ['HTML5', 'CSS3', 'Sass', 'JQuery'],
        },
        { link: '/', label: 'Contact', menu: false },
      ],
    }
  },
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.navbar-wrapper {
  background-color: transparent;
}
.navbar-content {
  max-width: 1100px;
  width: 100%;
  padding: 30px 0;
  position: absolute;
  z-index: 10;
}
.navbar-title {
  color: #fff;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 20px;
  line-height: 1.7;
  font-weight: bold;
}
.navbar-btn {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 14px;
  font-weight: thin;
}
.navbar-list {
  background-color: white;
}
.navbar-list-item {
  color: #777;
}
.navbar-panel >>> .v-expansion-panel-header {
  color: white;
  background-color: black !important;
  border: none !important;
  padding: 0 0 !important;
  height: 25px !important;
}
.navbar-panel >>> .v-expansion-panel {
  background-color: black !important;
}
.navbar-panel >>> .v-expansion-panels {
  height: 25px !important;
}
.navbar-panel-item {
  color: white;
}
.navbar-drawer {
  z-index: 100;
}
</style>
