<template>
  <v-container fluid>
    <snack-alert ref="alert" />
    <div class="d-flex justify-start pl-3">
      <span class="dashboard-title raleway"> Galeria </span>
    </div>
    <v-divider black />
    <v-row
      class="d-flex flex-column-reverse flex-sm-row justify-space-between align-center"
    >
      <v-col cols="12" sm="12" md="6" lg="6">
        <v-btn color="success" dark @click="openCreate()">
          adiciona ae
        </v-btn>
      </v-col>
      <v-col cols="12" sm="12" md="6" lg="6" class="d-flex justify-end">
        <div class="dashboard-search">
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="pesquisar"
            single-line
            flat
            hide-details
          />
        </div>
      </v-col>
    </v-row>
    <v-data-table
      class="elevation-3"
      :search="search"
      :items="[]"
      :headers="headers"
      calculate-widths
    ></v-data-table>
  </v-container>
</template>

<script>
import SnackAlert from '~/components/globals/SnackAlert.vue'
export default {
  layout: 'dashboard',
  components: {
    SnackAlert,
  },
  data() {
    return {
      search: '',

      headers: [
        { text: 'oioi', align: 'center', sortable: true, value: ' ' },
        { text: 'oioi', align: 'center', sortable: true, value: ' ' },
        { text: 'oioi', align: 'center', sortable: true, value: ' ' },
      ],
    }
  },
  methods: {
    openCreate() {
      this.$refs.alert.showSnackBar({
        text: 'dddddddddddd',
        color: 'error',
      })
    },
  },
  created() {
    console.log('marquesini')
  },
}
</script>

<style scoped>
.dashboard-title {
  font-size: 45px;
  font-weight: bold;
}

.dashboard-search {
  max-width: 500px;
  width: 100%;
}
</style>
apoiadores
