<template>
  <v-app>
    <navbar />
    <nuxt class="nuxt" />
    <v-footer />
    <back-to-top-btn />
  </v-app>
</template>

<script>
import Navbar from '~/components/sections/layout/Navbar.vue'
import VFooter from '~/components/sections/layout/Footer.vue'
import BackToTopBtn from '~/components/sections/layout/BackToTopBtn.vue'
export default {
  components: {
    Navbar,
    VFooter,
    BackToTopBtn,
  },
}
</script>
<style scoped>
.nuxt {
  height: 100%;
}
</style>
