<template>
  <v-container fluid class="pa-0">
    <banner />
    <gallery />
    <testimony />
  </v-container>
</template>

<script>
import Gallery from '~/components/sections/home/Gallery'
import Banner from '~/components/sections/home/Banner'
import Testimony from '~/components/sections/home/Testimony'
export default {
  components: { Gallery, Banner, Testimony },
  // asyncData(context) {
  //   return context.app.$axios
  //     .get('testimony')
  //     .then((res) => ({ testimony: res.data.data }))
  // },
}
</script>
