<template>
  <v-app>
    <div class="wrappler">
      <title-auth titulo="Login" class="login-title" />
      <input-auth v-model="email" placeholder="Email" />
      <input-auth v-model="password" placeholder="Senha" type="password" />
      <v-flex class="text-xs-right">
        <nuxt-link class="esqueceu-senha black--text" to="/esqueci-a-senha">
          Esqueceu a senha?
        </nuxt-link>
      </v-flex>
      <div class="btn-entrar" @click="realizarLogin">
        Entrar
      </div>
    </div>
  </v-app>
</template>

<script>
import InputAuth from '~/components/inputs/InputAuth'
import TitleAuth from '~/components/sections/auth/TitleAuth'

export default {
  components: {
    TitleAuth,
    InputAuth,
  },
  data() {
    return {
      email: '',
      password: '',
    }
  },
  computed: {},
  methods: {
    async realizarLogin() {
      this.$nuxt.$loading.start()
      await this.$auth
        .loginWith('local', {
          data: {
            email: this.email,
            password: this.password,
          },
        })
        .then(() => {
          this.$router.push('/dashboard')
        })
        .catch(({ response }) => {
          const { mensagem, errosSecundarios: erros } = response.data
          const listaErros = erros
            ? `\n ${Object.values(erros).join('\n')}`
            : ''
          this.$toast.error(`${mensagem}${listaErros}`, { duration: 5000 })
        })
        .finally(() => {
          this.$nuxt.$loading.finish()
        })
    },
  },
  head() {
    return {
      title: 'Login',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Página para fazer login no sistema',
        },
      ],
    }
  },
  layout: 'auth',
  middleware: ['guest'],
}
</script>

<style scoped>
.wrappler {
  text-align: center;
}
</style>
